:root {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  body {
    /* background-color:gainsboro; */
  }
  * {
    margin: 0;
    border: 0;
  }
   
  html{
    font-size: 100%;
  }
  
  .App {
    text-align: center;
  }
  .App h1 {
    /* background: linear-gradient(150deg, #059669, #292524); */
    background: linear-gradient(150deg, #c77dff, #292524);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 1rem;
  }
  .App nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
  }
  .App nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .items-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
  }

 .items-container-block{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
 }
 
  .actual-item{
    width: 25%;
    padding: 2rem;
  }
  .Item {
   
    width: 100%;
    height: 31rem;
    border-radius: 0.5rem;
    overflow: inherit;
    border: none;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgb(71 27 27 / 10%);

  }
  .Item a{
    text-decoration: none;
  }

  .Item .item-div1{
    width: 100%;
    height: 20rem;
    margin-top: 1.5rem;
    transition: 0.2s;
  }
  
    .Item .item-div1 img{ 
    width: 100%;
    height: 85%;
    border-radius: 4px;
    object-fit: fill;
  }
  .Item .item-div1 :hover{
    transform: scale(1.3);
  }

 .Item .item-div2{
   
    /* height: 7rem; */
    width: 100%;
    margin-top: -2rem;
    color: darkgray;
    margin-bottom: 2rem;
  } 
  .Item .item-div2 h3{
    height: 50px;
  }


    .Item .item-div3{
    padding: 13px 24px 14px 4px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: black;
    margin-top: -1rem;
 
  }
  .Item .item-div3 h3
  {
    display: inline-block;
    font-size: inherit;
  }

  .Cart-div {
    float: right;
    display: block !important;
    margin-top: -2rem;
  }
  .Cart-div img {
    width: 4rem;
    height: 4rem;
  }
  .Cart-div h2 {
    width: 1rem;
    height: 2rem;
    margin-block-end: -7px;
    margin-inline-start: 12px;
    color: white;
  }
  
  .MainBill{
    margin: 10rem 2rem 2rem 2rem;
    display: -webkit-inline-box;
  }

  .MainBill table,
  tr,
  th,
  td {
    border: 0.1rem solid black;
  }

 

  .ListOfItems-Main {
   
    height: 100%;
    margin: 8rem 2rem 2rem 15rem;
  }
 
  nav {
    /* background-color: darkseagreen; */
    background-color: #231942;
    color: white;
    height: 8rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  .link {
    color: white;
    padding: 0.6rem;
    font-size: 3vh;
    font-style: none;
    text-decoration: none;
    display: inline;
    letter-spacing: 0.1rem;
  }
  .link:hover {
    /* background: linear-gradient(150deg, #059669, #292524); */
    background: linear-gradient(150deg, #e0b1cb, #292524);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .AddSub {
    margin-top: 0rem;
    height: 0rem;
    margin-bottom: 2rem;
    width: max-content;
    display: inline-block;
  }
  #WishlistBtn{
    margin-top: 1rem;
    font-size: inherit;
    border-radius: 0.5rem;
    /* background-color: darkseagreen; */
    background-color: #231942;
    padding: 0.5rem 1rem;
    /* border: 1px solid #059669; */
    border: 1px solid #5e548e;
    color: white;
  }
  .AddSub button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #231942;
    background-color: transparent;
    font-size: 1.25rem;
  }
  .AddSub button:hover {
    background-color: #5e548e;
  }
  .Wishlits-main ul {
    list-style: none;
    margin: 5rem 2rem 2rem 2rem;
    width: 25%;
    display: inline-block;
  }
  .Wishlits-main ul li {
    display: inline-block;
  }
 

  .main-Sidebar{
    position: fixed;
    top: 8rem;
    left: 0;
    width: 37vh;
    height: 80%;
    overflow-y: scroll;
    border-right: 1px solid var(--light-grey);
  }
  .flex-container{
      display: flex;
      flex-direction: column;
  }
  .Filter-header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
 }
 .Filter-header p{
  background-color: #3c096c;
  color: white;
  padding: 0.2rem 0rem 0rem 0.7rem;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
 }
 .Filter-sort{
   padding: 1rem 1rem;
 }
 .Filter-header button{
  background-color: transparent;
  color: #3c096c;
  font-weight: bold;
  border: 2px solid #3c096c;
  border-radius: 0.2rem;
  padding: 0.5rem;
 }
 .Filter-header button:hover{
  color: white;
  background-color:#3c096c;
 }
 .price-header{
    justify-content: space-between;
 }
  .Horizontal-wrapper{
    border: 0.2px solid grey; 
    padding: 1rem;
  }
  .flex-col {
    flex-direction: column;
  }
  .flex-row {
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
  }
  .flex-row input[type='radio'] {
    accent-color: #231942;
  }
  .flex-row input[type='checkbox'] {
    accent-color: #231942;
  }
  .PriceSlider-container input[type="range"]{
    accent-color: #3c096c;
  }
  .Price-slider{
      width: 10rem;
      height: 2rem;
  }
  .PriceList{
    list-style: none;
  }
  .wrap{
      flex-wrap: wrap;
  }

  /* CartPage styling */
  .cartSection{
    margin-top: 10rem;
    padding:0rem 2rem;
  }
  .cart-mainContainer{
    display: flex;
    align-items: flex-start;
  }
  .itemList-section{
    width: 70%;
  }
  .singleCartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
    /* width: 100%; */
  }
  .singleCartItem img{
    width: 150px;
  }
  .singleCartItem div:nth-child(1){
    width: 40%;
  }
  .singleCartItem div:nth-child(2){
    text-align: start;
    width: 60%;
  }
  .singleCartItem div:nth-child(2) p{
    padding: 0.5rem;
  }
  .itemTitle{
    font-weight: 500;
    color: #6c757d;
  }
  .itemPrice{
    font-weight: 800;
    font-size: larger;
  }
  .itemCount{
    font-weight: 600;
  }
  .itemCount span{
    font-weight: 500;
  }
  .cartBtns{
    padding: 0.5rem;
  }
  .outlinedBtn{
    background-color: transparent;
    color: #3c096c;
    font-weight: bold;
    border: 2px solid #3c096c;
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin-right: 1rem;
  }
  .filledBtn{
    background-color: #3c096c;
    color: white;
    font-weight: bold;
    border: 2px solid #3c096c;
    border-radius: 0.2rem;
    padding: 0.5rem;
  }
  .price-section{
    width: 20%;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 0.5rem;
  }
  .price-section li{
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
  }
  .price-section hr{
    border: 0.1px solid #ced4da;
    margin: 0rem 0.2rem;
  }
  .textBold{
    font-size: larger;
    font-weight: 600;
  }
  .placeOrder{
    display: flex;
    justify-content: center !important;
    margin: 2rem 0rem;
  }

  @media only screen and (max-width:500px) { 
      html{
          font-size: 60%;
      } 
      .main-Sidebar{
        width: 20vh;
        height: 88vh;
      }
      .link {
     
        font-size: 2vh;
      
      }
    }